pkgbase = nautilus-taildrop-git
	pkgdesc = Tailscale Taildrop integration for GNOME's Nautilus file manager
	pkgver = r0.0
	pkgrel = 1
	url = https://github.com/PaarthShah/Nautilus-Taildrop
	install = nautilus-taildrop.install
	arch = any
	license = unknown
	makedepends = git
	depends = tailscale
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = libnotify
	depends = xdg-utils
	depends = nautilus-python
	optdepends = nemo-python: right-click integration for the Nemo file manager
	provides = nautilus-taildrop
	conflicts = nautilus-taildrop
	source = nautilus-taildrop::git+https://github.com/PaarthShah/Nautilus-Taildrop.git
	sha256sums = SKIP

pkgname = nautilus-taildrop-git
